
  #con1{
      box-shadow: 0px 5px 5px 5px rgb(180, 179, 179);
      width: 1000px;
      margin-right: auto;
      margin-left: auto;
     
  }
  
  .staticheader{
      font-weight: bold;
      padding: 5px;
  }
  .crd{
      border-bottom: 3px solid #810000;
      padding: 5px;
  }
  #Card-header{
      margin-top: 90px;
  }