has-search .controle1 {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.topnavs {
    overflow: hidden;
}

    .topnavs a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 3px solid transparent;
    }

        .topnavs a:hover {
            border-bottom: 3px solid red;
            text-decoration: none;
            cursor: pointer;
        }

        .topnavs a.active {
            border-bottom: 3px solid #810008;
        }